//正文
*{
    padding: 0px;
    margin: 0px;
}

.container {
    overflow: hidden;
    width: 100%;
    height: auto;
    background: #fbfbfb;
}
//吸顶搜索
.div1{
    width: 100%;
    height: 50px;
    background:#992246;
    position: fixed;
    z-index: 999;
    display: none;
    .head-center{
    margin: auto;
    width:1000px;
    height:50px;
    //logo
     .logo a{
    float: left;
    display: block;
    width:72px;
    height:50px;
    background:url(../img/picc1.jpg)no-repeat;
    span{
    display: none;
} 
}
 
  }
  //search搜索框
  .search{
      float:left;
      width:650px;
      height:40px;
  .search_input{
   float:left;
   width: 500px;
   height:39px;
   margin-top: 3px;
   margin-left: 60px;
   border: 3px solid #94193f;
   outline: none;
      }
  .search_btn{
   float:right;
   width:80px;
   height:45px;
   border: 2px solid #94193f;
   margin-top: 5px;
   background:#94193f;
   font-size: 16px;
   color: #F7F7F7;
      }
 }
}
 .banner2{
     width: 100%px;
     margin: 0 auto; 
     height:100%;
     background:pink;
     img{
         width:100%;
         height:100%;
     }
 }
 //全部分类下拉
.left{
    position: absolute;
    width: 214px;
    height: 383px;
    left: 142px;
    top:210px;
    background-color:#FFFDEF;
     z-index: 999;
      opacity: 0.5;
    ul li{
    width:214px;
    height: 28px;
    font-size: 16px;
    margin: 25px 0px;
    text-align: center;
    position: relative;
    li i{
    font-size: 16px !important;
}
   a{
       color: #333333;
   }
   //全部分类下拉 hover
    .left_left1{
    position: absolute;
    width: 214px;
    height: 385px;
    left: 214px;
    top:-25px;
    background-color:#FFFDEF;
    display: none;
   .ul_left li{
    float: left;
    width: 100px;
    border: 1px solid #3D3D3D;
    height:24px;
    background:#666666;
    line-height: 24px;
    a{color:#FFFFFF;}
    i{
      float:right;
       width:30px;
       text-align: center;
       background:#404040;
       color:#FFFFFF;
    }
    }
    }
  .left_left1:hover li{
      background: #c31f3a;
  }
  .left_left1:hover i{
      background: #c31f3a;
  }

.left_left2{
    position: absolute;
    width: 214px;
    height: 385px;
    left: 214px;
    top:-80px;
    background-color:#FFFDEF;
    display: none;
    .ul_left li{
    float: left;
    width: 100px;
    border: 1px solid #3D3D3D;
    height:24px;
    background:#666666;
    line-height: 24px;
    a{color:#FFFFFF;}
    i{
      float:right;
       width:30px;
       text-align: center;
       background:#404040;
       color:#FFFFFF;
    }
    }
    }
  .left_left2:hover li{
      background: #c31f3a;
  }
  .left_left2:hover i{
      background: #c31f3a;
  }
  .left_left3{
    position: absolute;
    width: 214px;
    height: 385px;
    left: 214px;
    top:-135px;
    background-color:#FFFDEF;
    display: none;
    .ul_left li{
    float: left;
    width: 100px;
    border: 1px solid #3D3D3D;
    height:24px;
    background:#666666;
    line-height: 24px;
    a{color:#FFFFFF;}
    i{
      float:right;
       width:30px;
       text-align: center;
       background:#404040;
       color:#FFFFFF;
    }
    }
    }
  .left_left3:hover li{
      background: #c31f3a;
  }
  .left_left3:hover i{
      background: #c31f3a;
  }
    .left_left4{
    position: absolute;
    width: 214px;
    height: 385px;
    left: 214px;
    top:-185px;
    background-color:#FFFDEF;
    display: none;
    .ul_left li{
    float: left;
    width: 100px;
    border: 1px solid #3D3D3D;
    height:24px;
    background:#666666;
    line-height: 24px;
    a{color:#FFFFFF;}
    i{
      float:right;
       width:30px;
       text-align: center;
       background:#404040;
       color:#FFFFFF;
    }
    }
    }
  .left_left4:hover li{
      background: #c31f3a;
  }
  .left_left4:hover i{
      background: #c31f3a;
  }
    .left_left5{
    position: absolute;
    width: 214px;
    height: 385px;
    left: 214px;
    top:-238px;
    background-color:#FFFDEF;
    display: none;
    .ul_left li{
    float: left;
    width: 100px;
    border: 1px solid #3D3D3D;
    height:24px;
    background:#666666;
    line-height: 24px;
    a{color:#FFFFFF;}
    i{
      float:right;
       width:30px;
       text-align: center;
       background:#404040;
       color:#FFFFFF;
    }
    }
    }
  .left_left5:hover li{
      background: #c31f3a;
  }
  .left_left5:hover i{
      background: #c31f3a;
  }
    .left_left6{
    position: absolute;
    width: 214px;
    height: 385px;
    left: 214px;
    top:-290px;
    background-color:#FFFDEF;
    display: none;
    .ul_left li{
    float: left;
    width: 100px;
    border: 1px solid #3D3D3D;
    height:24px;
    background:#666666;
    line-height: 24px;
    a{color:#FFFFFF;}
    i{
      float:right;
       width:30px;
       text-align: center;
       background:#404040;
       color:#FFFFFF;
    }
    }
    }
  .left_left6:hover li{
      background: #c31f3a;
  }
  .left_left6:hover i{
      background: #c31f3a;
  }
    .left_left7{
    position: absolute;
    width: 214px;
    height: 385px;
    left: 214px;
    top:-345px;
    background-color:#FFFDEF;
    display: none;
    .ul_left li{
    float: left;
    width: 100px;
    border: 1px solid #3D3D3D;
    height:24px;
    background:#666666;
    line-height: 24px;
    a{color:#FFFFFF;}
    i{
      float:right;
       width:30px;
       text-align: center;
       background:#404040;
       color:#FFFFFF;
    }
    }
    }
  .left_left7:hover li{
      background: #c31f3a;
  }
  .left_left7:hover i{
      background: #c31f3a;
  }
 }

ul li:hover{
    background: #FFFFFF;
}
ul li:hover .left_left1{
  display: block;
}
ul li:hover .left_left2{
  display: block;
}
ul li:hover .left_left3{
  display: block;
}
ul li:hover .left_left4{
  display: block;
}
ul li:hover .left_left5{
  display: block;
}
ul li:hover .left_left6{
  display: block;
}
ul li:hover .left_left7{
  display: block;
}
ul li:hover i{
    color: red; 
}
ul li:hover a{
  color: red;  
}
}
//滑动轮播1
.container_top {
    margin:auto;
    margin-top: 44px;
    width:100%;
    height: 365px;
    background: #FFFFFF;
   
    .pro_menu {
        width: 1000px;
        height: 57px;
        margin: auto;
        ul {
            margin-bottom: 15px;
            margin-left: 15px;
            float: left;
            width: 954px;
            height: 57px;
            border-bottom: 1px solid #8c8c8c;
            li {
                float: left;
                width: 90px;
                height: 57px;
                text-align: center;
                padding-top: 30px;
                a {
                    font-size: 18px;
                    color: #333;
                }
            }
            li:first-child a {
                border-bottom: 3px solid #333333;
            }
            li:last-child a {
                width: 95px;
                display: block;
                color: #FFFFFF;
                background: #eb2d58;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }
    .pro_menu1 {
        width:1000px;
        height:360px;
        overflow: hidden;
        margin: auto;
        .pro1{
            position: relative;
            float: left;
            width: 195px;
            height: 260px;
            img {
                width: 160px;
                height: 160px;
                text-align: center;
            }
            p {
                margin-top: 13px ;
                text-align: center;
                font-size: 14px;
                color: #666666;
                a {
                    color: #000000;
                }
            }
        }
        .por_left {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 800px;
            background: #8C8C8C;
            opacity: 0.8;
            i {
                text-align: center;
                padding-left: 12px;
                line-height: 50px;
                color: #FFFDEF;
                font-size: 30px !important;
            }
        }
        .por_right {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 800px;
            right: 130px;
            background: #8C8C8C;
            opacity: 0.8;
            i {
                text-align: center;
                padding-left: 12px;
                line-height: 50px;
                color: #FFFDEF;
                font-size: 30px !important;
            }
        }
        .pro1:hover {
            border: 2px solid #c31f3a;
            img {
                transition: all 0.5s;
                transform: translateY(10px);
                cursor: pointer;
                border: none;
            }
        }  
    }
}

//滑动轮播2
.container_center {
    width: 1000px;
    height: 833px;
    margin: auto;
    .container_center1{
        margin-top:30px;
        height:40px;
        background: #fbfbfb;
        border-bottom: 1px solid #c4193f;
       h2{
           float:left;
           font-weight: normal;
       }
       ul li{
           margin: 10px;
           width: 81px;
           float:right;
           a{
               color:#666666;
           }
       }
     ul li:hover{
         border: 2px solid #c31f3a;
         border-bottom: none;
     }
    }
    .container_center2{
        display: flex;
        justify-content: space-between;
        height:333px;
        position: relative;
       .container_center2_a{
         width: 194px;
         height:333px;
         float:left;
         img{
            float:left;
             width: 194px;
             height: 194px;
         } 
            //计时器
             .container_time{
                 overflow: hidden; 
                 width: 194px;
                 height:27px;
                 background: #3d3d3d;
                 color: #FFFFFF;
                 font-size: 12px;
                 line-height: 27px;
             }
             a{
                 display: block;
                 width:194px;
                 height:77px;
                 .xsqg_titel2{
                   font-size: 12px;
                   color: #666666;
                 }
                 .xsqg_titel1{
                   font-size: 14px;
                   color: #3d3d3d;  
                 }
             }
             .xsqg_l{
                 width:192px;
                 height:34px;
                 border: 1px solid #2178d2;
                 text-align: center;
                 line-height: 34px;
                 .xsqg_btn{
                     float:right;
                     width:80px;
                     height:34px;
                     font-size: 16px;
                     color: #FFFDEF;
                     border: none;
                     background:#2178d2;
                 }
            } 
        }
        .container_center2_a:hover{
          border: 2px solid #c31f3a;
            img {
                transition: all 0.5s;
                transform: translateY(10px);
                cursor: pointer;
                border: none;
            }  
        }
    }
   //精品推存
    .pro_menu2{
        height: 57px;
        ul {
            margin-left: 15px;
            float: left;
            width: 1000px;
            height: 82px;
            border-bottom: 1px solid #8c8c8c;
            li {
                float: left;
                width: 120px;
                height: 50px;
                text-align: center;
                padding-top: 30px;
                line-height: 50px;
            }
            :first-child h2{
                width: 120px;
                height: 50px;
                font-size:20px;
                border-bottom: 3px solid #000000;
            }
            :last-child{
               float: right;
               color: #3D3D3D; 
               font-size: 16px;
              
            }
        }
    }
    .container_xinping{
    margin: auto;
    width: 1000px;
    height:307px;
    background: #fbfbfb;
    display: flex;
    justify-content: space-between;
    .container_xinping1{
        margin-top: 7px;
        width:192px;
        height:300px;
        img{
       width:190px;
       height:190px;
    }
   }
   :hover{
       border: 1px solid #DC143C;
       img{border:none;}
       p{border: none;}
       span{border:none;}
       
   }
}
//精选活动
.pro_menu3{
        height: 57px;
        ul {
            margin-left: 15px;
            float: left;
            width: 1000px;
            height: 82px;
            border-bottom: 1px solid #8c8c8c;
            li {
                
                h2{
                float: left;
                width: 120px;
                height: 50px;
                text-align: center;
                padding-top: 30px;
                line-height: 50px;
                font-size:20px;
               border-bottom: 3px solid #000000; 
            }
            }
            
        }
   } 
}
//精选活动
.jinxuan{
    margin: auto;
    width: 1000px;
    height:657px;
    margin-top: 20px;
    img{
        width:490px;
        float:left;
        margin: 5px 5px;
    }
}
//个护美妆
.meizuan{
    box-sizing: border-box;
        margin:auto;
        width: 1000px;
        margin-top:30px;
        height:40px;
        background: #fbfbfb;
        border-bottom: 1px solid #c4193f;
       h2{
           float:left;
           font-weight: normal;
       }
       ul li{
           margin: 10px;
           width: 81px;
           float:right;
           a{
               color:#666666;
           }
       }
  }
 .meizuan ul li:hover{
         border: 2px solid #c31f3a;
         border-bottom: none;
}
.meizuan1{
    width: 1000px;
    height:598px;
    margin: auto;
    .meizuan1_tp{
        float:left;
        display: block;
        width: 587px;
        height:272px;
      position:relative;
        img{
        width: 587px;
        height:272px;  
        }
    .meizuan1_lf{
        width: 587px;
        height:272px;
        top:0%;
        left:0%;
        display: none;
        position: absolute;
        background-color: #FFFDEF;
        z-index:1001;
        opacity:.4;
    }
    }
  .meizuan1_tp:hover .meizuan1_lf{
      display: block;
  }
  .meizuan2{
      width: 193px;
      height:277px;
      float:left;
      background:#FFFFFF;
      margin-left: 13px;
      img{
          width:186px;
      }
       a{
padding-left: 10px;
display: block;
width:186px;
height:60px;
.xsqg_titel2{
margin-left:10px;
font-size: 12px;
color: #666666;
}
.xsqg_titel1{
font-size: 14px;
color: #3d3d3d;  
 }
}
.xsqg_l{
    text-align: center;
    padding: 0px 20px;
}
  }
 .mei_pro{
     width: 1000px;
     height: 320px;
     display: flex;
     justify-content: space-between;
       .meizuan2{
      width: 189px;
      height:277px;
      float:left;
      margin-top: 4px;
      background:#FFFFFF;
   margin-left:0px;
      img{
          width:186px;
      }
       a{
padding-left: 8px;
display: block;
width:186px;
height:60px;
.xsqg_titel2{
margin-left:10px;
font-size: 12px;
color: #666666;
}
.xsqg_titel1{
font-size: 14px;
color: #3d3d3d;  
 }
}
.xsqg_l{
    text-align: center;
    padding: 0px 20px;
}
  }
  }
// .meizuan2:hover{
//    border: 2px solid #C31F3A;
//}
}
.log{
    margin: auto;
    width: 1000px;
    height:110px;
    background: #FFFFFF;
    border: 1px solid #d9d9d9;
    ul{
        float:left;
        display:flex;
        justify-content: space-between;
        li{
            width: 95px;
            height:110px;
            float:left;
            text-align: center;
            padding: 2px;
            line-height: 110px;
            img{
            width: 95px;
            height:100px; 
            }
        }
    }
}
// 侧边栏
.left_ceba{
    position:fixed;
    z-index: 999;
    width: 41px;
    height:1000px;
    right: 0px;
    top:0px;
    background: #444850;
      .logo_lin{
         width:20px;
         height:20px;
         z-index: 999;
         background:#94193f;
         border-radius:50%;
         position:absolute;
         top:167px;
         right:-2px;
        color:#ffffff;
        text-align: center;
        line-height:20px;
     }
    ul li{
        position:relative;
        height:80px;
        color: #FFFDEF;
        margin-top:50px;
        text-align: center;
        a{
          color: #FFFDEF;  
        }
        i{
            font-size: 30px !important;
        }
    }
    ul li .erweima{
        position: absolute;
        bottom:400px;
        top: 10px;
        right:40px;
        display: none;
    }
    ul li:hover{
        background: #93193e;
    }
    ul li:nth-child(4):hover .erweima{
        display: block;
    }
}
//loce楼层导行
.locen{
    position:fixed;
    width: 95px;
    height: 440px;
    top:200px;
    left:30px;
    display: block;
    border: 1px solid #666666;
    border-bottom-left-radius:15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
  display: none;
    ul li{
        width:93px;
        padding-top:20px;
        a{
            color: #666666;
            font-size: 14px;
        }
    }
}
