*{
    margin:0px;
    padding:0px;
}
.main{
    width:100%;
    min-height:600px;
   .head{
    width:1000px;
    height:94px;
    margin: auto;
    margin-top: 30px;
   .logo a{
    float: left;
    margin-left: 20px;
    display: block;
    width:72px;
    height:68px;
    background:url(/img/logo.jpg);
    span{
    display: none;
} 
}
.logo_left{
      padding-left: 350px;
      float:left;
      width: 448px;
      height:56px; 
      img{
         margin-top:20px;
      } 
   }
}
//注册
.login_con{
    width: 1000px;
    height:554px;
    margin: auto;
    overflow: hidden;
    margin-top: 50px;
    .xinren{
        width: 562px;
        height:363px;
        margin-top: 20px;
        margin-left: 20px;
        float:left;
        img{
        width: 562px;
        height:363px;  
        }
    }
//登录注册
.login_login{
    width:360px;
    height:509px;
    margin-top: 10px;
    margin-left: 25px;
    border-right: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    float:left;
    .login_h2{
        height:56px;
        h2{
            margin-left: 25px;
            color: #94193f;
            float:left;
            }
         .logintop{
             float: left;
             margin-left: 50px;
             text-align: center;
              margin-top: 5px;
              font-size: 12px;
              color: #8c8c8c;
              a{color: #94193f;}
         }   
    }
    .lab{
        height:35px;
        font-size: 14px;
        color: #8c8c8c;
        padding:20px;
        line-height: 35px;
        .rad{margin-right:40px;}
    }
    .ul_i{
        display: flex;
        justify-content:space-around;
        height: 35px;
        text-align: center;
        line-height: 50px;
        margin-top: 20px;
        i{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            font-size: 30px;
            color: red;
        }
    }
    .cellphone{
        width: 303px;
        height:38px;
        margin-left: 20px;
    }
    .login_tt{
        margin-top: 30px;
    .tt{
        width: 164px;
        height:38px;
        margin-left: 20px;
        float: left;
    }
    .tta{
        display: block;
        width: 125px;
        height:38px;
        color: #504e4e;
        margin-left:10px;
        text-align: center;
        line-height: 38px;
        background: #f6f6f6;
        border: 1px solid #666666;
        float: left;
     }
    }
    .pas{
        width: 303px;
        height:38px;
        margin-left: 20px;
        margin-top: 30px; 
    }
    .pass{
        width: 303px;
        height:38px;
        margin-left: 20px;
        margin-top: 30px; 
    }
    .plac{
        width: 164px;
        height:38px;
        margin-left: 20px;
        margin-top: 30px;
    }
    .zhuce{
        display: block;
        width:303px;
        height:38px;
        margin-left: 20px;
        margin-top: 30px; 
        background: #94193f; 
        color: #FFFFFF;
        text-align: center;
        line-height: 38px;
        font-weight: 600;
    }
    .agree{
        margin-top: 10px;
        margin-left: 20px;
        font-size: 12px;
        color:#8c8c8c;
        a{
            color:#94193f;
        }
    }
    a{color:#94193f;font-size: 12px;}
}
}

}